<div class="col s6 ready">
    <h4>New Burger</h4>
    {{#each burgers}}
        {{#unless this.devoured}}
            <div class="new">
                <form class="devoured" action="/api/{{this.id}}?_method=PUT" method="POST">
                    {{@index}}. {{this.burger_name}}
                    <p>Customer: <input name="customer" type="text"></p>
                    <input type="hidden" name="devoured" value="1">
                    <button>Devour</button>
                </form>
            </div>
        {{/unless}}
    {{/each}}
</div>