<div class="col s6 devoured">
    <h4>Devoured</h4>
    {{#each burgers}}
        {{#if this.devoured}}
            <p>{{@index}}. {{this.burger_name}} devoured by {{this.customer.customer_name}}</p>
        {{/if}}
    {{/each}}
</div>