<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/"/>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script type="text/javascript" src="/assets/js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MVC!</title>
</head>
<body>
<div class="container">
    <img src="/assets/img/burger.png"/>
    <h3>Eat-Da-Burger</h3>
    {{{ body }}}
</div>
</body>
</html>